<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Отклик</title>
   </head>
   <body>
      <h1>Отклик на вакансию Java Backend разработчика</h1>
         
      <form th:action="@{/index}"
         th:object="${userForm}" method="POST">
         <h4>Имя*</h4>
         <input type="text" th:field="*{name}" />
         
         <div th:if="${errorNameMessage}" th:utext="${errorNameMessage}"
         style="color:red;font-style:italic;">
      	</div>
      	    
         <br/>
         <h4>Фамилия*</h4>
         <input type="text" th:field="*{surname}" />     
         <br/>
         <h4>Email или телефон*</h4>
         <input type="text" th:field="*{contact}" />    
         <br/>
         <h4>Сопроводительное письмо*</h4>
         <input type="text" th:field="*{letter}" />    
         <br/>
         <br/>
         <input type="submit" value="Откликнуться" />
         <br/>
      </form>
      <br/>
      
      <!-- Check if errorMessage is not null and not empty
      <div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red;font-style:italic;">
         ...
      </div>
      !-->
   </body>
</html>